body {
    background: lightgray;
}

.tableMain {
    /* police du texte */
    font-family: Arial;
    border-collapse: collapse;
    /*taille du tableau*/
    width: 70%;
    /*centrer le tableau marge auto*/
    margin-left: auto;
    /*centrer le tableau marge auto*/
    margin-right: auto;
    /* couleur background tableau */
    background: white;
}

/*bordures des lignes*/
.tableMain td,
.tableMain th {
    border: 1px solid #ddd;
    padding: 8px;
}

/*changer la couleur des lignes*/
.tableMain tr:nth-child(even) {
    background-color: #f2f2f2;
}

/*changer la couleur de la ligne quant on met le curseur*/
.tableMain tr:hover {
    background-color: #ddd;
}

/*En tete du tableau*/
.tableMain th {
    /*marge interieure haut*/
    padding-top: 12px; 
    /*marge interieure bat*/
    padding-bottom: 12px;
    /* Alignement texte */
    text-align: center;
    /* coleur arrieur plan */
    background-color: DarkSlateGrey;
    /* couleur texte */
    color: white;
}